*{
  margin: 0 auto;
  padding: 0 auto;
}
.Base-component{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading{
 
  padding: 20px;
  font-family: sans-serif;
}
.main-segment{
  
  width: 100%;
  text-align: center;
  height: 75%;
}
.card{
 border: 1px solid black;
 display: flex;
 flex-direction: column;
 width: 200px;
 height: 150px;
 margin: 20px;
}

.card-container{
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
}
.control{
  margin:10px
}
.content{
  margin: 5px;
}
